.content-tracklist {
    &__header {
        border-bottom: 1px solid #282828;
        margin-bottom: 16px;
        height: 36px;

        &-columns {
            height: 100%;
        }
    }
}

.album {
    display: flex;
    flex-direction: column;
}