
:root {
  --sidebar-min-width: 230px;
  --sidebar-max-width: 246px;
  --hover: rgb(33, 33, 33);
  --button-size: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b3b3b3;
  background-color: #000000;
  font-weight: 600;
  font-size: 14px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
}
