@import './components/Sidebar/sidebar.scss';
@import './components/Layout/layout.scss';
@import './components/Topbar/topbar.scss';
@import './pages/user.scss';
@import './components/Playlists/playlists.scss';
@import './components/Card/card.scss';
@import './components/Content/contentHeader.scss';
@import './components/Content/contentButtons.scss';
@import './components/Content/contentTrackList.scss';


.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.svg {
    display: block;
    fill: currentColor;
}

.icon16x16 {
    height: 16px;
    width: 16px;
}

.spacing {
    padding: 0 32px;
}

.pt {
    padding-top: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 12px 3fr 2fr 60px;
    grid-gap:  16px;
    align-items: center;
    padding: 0 16px;
}