@import './components/Sidebar/sidebar.scss';
@import './components/Layout/layout.scss';
@import './components/Topbar/topbar.scss';
@import './pages/user.scss';
@import './components/Playlist/playlist.scss';
@import './components/Card/card.scss';


.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.svg {
    display: block;
    fill: currentColor;
}

.icon16x16 {
    height: 16px;
    width: 16px;
}

.spacing {
    padding: 0 32px;
}

.pt {
    padding-top: 1.5rem;
}